<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body style="background-color:rgb(236, 183, 118)">
        <h1 style="color:rgb(59, 223, 223)">Welcome Home {{username}}</h1>
        <h2>Proceed to Product Searching </h2>
    </body>
</html>